.Container{
    height: 510px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(255, 194, 204), rgb(154, 154, 154));
}
.Desc{
    width: 20%;
}
.Carousel{
    width: 60%;
}

a h3{
    color: black;
}